body{
  font-size: 1.1rem;
  font-family: sans-serif,monospace,cursive;
  margin: 0;
  background: #b5ff7d;

}

img{
  width: 100%;
  }

nav #navbar{
  background-color: #52d681;
  position: fixed;
  border-right-color: black;
  border-right-style: inset;
  border-left: black;
  border-left-style: outset;
  border-top: black;
  }
a{
  text-decoration: none;
}

section{
  justify-content: center;
}

#main-doc{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  position:absolute;
  left:300px;
}

#main-doc section{
  text-align: justify;
  margin:auto 0;
  margin:17px;
}

ul{
  margin:0;
  padding:0;
  list-style-type: none;
}

.flex-1{
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

#navbar {
  background-color: #52d681;
  position: fixed;
  width: 300px;
  max-height: 100%;
  border: none;
  border-bottom: 2px solid;
  height: 100%;
}



/*COMBINATOR SELECTOR GROUP*/

.Flex-logo{
  width: 80px;
  height: 80px;
}

.flex-1 li{
  text-align: center;
}

#navbar li{
  padding: 15px
}

#index .nav-ul-1{
  height: 25%;
  position: relative;
  bottom: 5%;
}

#navbar .nav-ul-2{
  height: 15%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: green;
  font-size: 1.1rem;
  position: fixed;
  bottom: 5%;
}

.flex-1 header{
  font-weight: bolder;
  flex-wrap: wrap;
  font-size: 1.6rem;
  position: relative;
  bottom: 2%;
}

.nav-ul-1 li{
  color: green;
  font-size: 1.3em;
}

  .nav-ul-2 li{
    color: green;
    font-size: 1.3em;
}

section p{
  font-size: 1.5rem;
}

@media all and (max-width: 800px) {
    #navbar ul{
    border:1px solid;
    height:300px;
  }
    #navbar{
      background-color: #52d681;
      position: fixed;
      width: 100%;
      justify-content: center;
      max-height: 209px;
      border: none;
      border-bottom: 2px solid;
      z-index: 1;
      display: inline-flex;
      overflow: auto;
      overflow-x: hidden;
    }

    .flex-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
    .flex-1 li{
      text-align: left;
    }

    #main-doc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 34%;
    left:0;
    margin:2rem;
  }
#navbar .nav-ul-2{
    height: 27%;
    overflow-y: scroll;
    overflow-x: hidden;
    color: green;
    font-size: 1.1rem;
    position: relative;
    order: 5;
}

#main-doc section {
    text-align: justify;
    margin: auto 0;
  }

html{
  margin:0;
  padding:0;
}
.Flex-logo {
  width: 80px;
  height: 80px;
  order: 0;
  padding-top: 7px;
}

.flex-1 header {
    font-weight: bolder;
    flex-wrap: wrap;
    font-size: 1.6rem;
    position: relative;
    bottom: -1%;
    order: 0;
  }

  #index .Glossary h2{
    order: 3;
  }

  #index .CSS h2{
    order: 5;
  }

  #index .nav-ul-1 {
      height: 25%;
      position: relative;
      bottom: 2%;
      order: 0;
  }






}
